// Common class
// Font size
.font-size-1rem{
    font-size: $size-1rem !important;
}
.font-size-1pt3rem{
    font-size: $size-1pt3rem !important;
}
.font-size-1pt5rem{
    font-size: $size-1pt5rem !important;
}
.font-size-2rem{
    font-size: $size-2rem !important;
    @include mediaQueries (mixin-max-medium) {
        font-size: $size-1pt5rem !important;
    }
}
.font-size-3rem{
    font-size: $size-3rem !important;
    @include mediaQueries (mixin-max-medium) {
        font-size: $size-2rem !important;
    }
}
.font-size-4rem{
    font-size: $size-4rem !important;
    @include mediaQueries (mixin-max-medium) {
        font-size: $size-3rem !important;
    }
    @include mediaQueries (mixin-max-small) {
        font-size: $size-3rem !important;
    }
}
.font-size-5rem{
    font-size: $size-5rem !important;
    @include mediaQueries (mixin-max-medium) {
        font-size: $size-4rem !important;
    }
    @include mediaQueries (mixin-max-small) {
        font-size: $size-3rem !important;
    }
}
.font-size-6rem{
    font-size: $size-6rem !important;
    @include mediaQueries (mixin-max-medium) {
        font-size: $size-4rem !important;
    }
    @include mediaQueries (mixin-max-small) {
        font-size: $size-3rem !important;
    }
}
.font-size-7rem{
    font-size: $size-7rem !important;
    @include mediaQueries (mixin-max-medium) {
        font-size: $size-5rem !important;
    }
    @include mediaQueries (mixin-max-small) {
        font-size: $size-4rem !important;
    }
}
.font-size-8rem{
    font-size: $size-8rem !important;
    @include mediaQueries (mixin-max-medium) {
        font-size: $size-6rem !important;
    }
    @include mediaQueries (mixin-max-small) {
        font-size: $size-5rem !important;
    }
}
.font-size-9rem{
    font-size: $size-9rem !important;
    @include mediaQueries (mixin-max-medium) {
        font-size: $size-7rem !important;
    }
    @include mediaQueries (mixin-max-small) {
        font-size: $size-6rem !important;
    }
}
.font-size-10rem{
    font-size: $size-10rem !important;
    @include mediaQueries (mixin-max-medium) {
        font-size: $size-8rem !important;
    }
    @include mediaQueries (mixin-max-small) {
        font-size: $size-7rem !important;
    }
}
// Font family
.font-family-fantasy{
    font-family: $family-fantasy, $family-roboto, $family-sans-serif !important;
}
.font-family-architects-daughter{
    font-family: $architects-daughter, $family-roboto, $family-sans-serif !important;
}
// Color
.info{
    color: $info !important;
}
.info-dark{
    color: $info-dark !important;
}
.info-bg{
    background: $info !important;
}
.info-dark-bg{
    background: $info-dark !important;
}

.success{
    color: $success !important;
}
.success-dark{
    color: $success-dark !important;
}
.success-bg{
    background: $success !important;
}
.success-dark-bg{
    background: $success-dark !important;
}

.warning{
    color: $warning !important;
}
.warning-dark{
    color: $warning-dark !important;
}
.warning-bg{
    background: $warning !important;
}
.warning-dark-bg{
    background: $warning-dark !important;
}

.danger{
    color: $danger !important;
}
.danger-dark{
    color: $danger-dark !important;
}
.danger-bg{
    background: $danger !important;
}
.danger-dark-bg{
    background: $danger-dark !important;
}

.default{
    color: $default !important;
}
.default-dark{
    color: $default-dark !important;
}
.default-bg{
    background: $default !important;
}
.default-dark-bg{
    background: $default-dark !important;
}

.primary{
    color: $primary !important;
}
.primary-dark{
    color: $primary-dark !important;
}
.primary-bg{
    background: $primary !important;
}
.primary-dark-bg{
    background: $primary-dark !important;
}

.secondary{
    color: $secondary !important;
}
.secondary-dark{
    color: $secondary-dark !important;
}
.secondary-bg{
    background: $secondary !important;
}
.secondary-dark-bg{
    background: $secondary-dark !important;
}

.blue-whale {
    color: $blue-whale !important;
}
.blue-whale-bg {
    background-color: $blue-whale !important;
}
.ice {
    color: $ice !important;
}
.ice-bg {
    background-color: $ice !important;
}
.unique-color-bg{
    background-color: $unique-color !important;
}
.very-light-gray-bg{
    background-color: $very-light-gray !important;
}
.pale-turquoise-bg{
    background-color: $pale-turquoise !important;
}
//Line Height
.line-height-0-6{
    line-height: 0.6 !important;
}
.line-height-1{
    line-height: 1 !important;
}
.line-height-1-7{
    line-height: 1.7 !important;
}
.line-height-2{
    line-height: 2 !important;
}
// Margin
.mt-6rem-neg{
    margin-top: $size-6rem-neg !important;
}
.t-0{
    top: 0 !important;
}
.t-10px{
    top: 10px !important;
}
.b-0{
    bottom: 0 !important;
}
.r-0{
    right: 0 !important;
}
.r-15px{
    right: 15px !important;
}
.l-0{
    left: 0 !important;
}
// Width
.w-1{
    width: 1% !important;
}
.w-2{
    width: 2% !important;
}
.w-3{
    width: 3% !important;
}
.w-4{
    width: 4% !important;
}
.w-5{
    width: 5% !important;
}
.w-6{
    width: 6% !important;
}
.w-7{
    width: 7% !important;
}
.w-8{
    width: 8% !important;
}
.w-9{
    width: 9% !important;
}
.w-10{
    width: 10% !important;
}
.w-11{
    width: 11% !important;
}
.w-12{
    width: 12% !important;
}
.w-13{
    width: 13% !important;
}
.w-14{
    width: 14% !important;
}
.w-15{
    width: 15% !important;
}
.w-20{
    width: 20% !important;
}
.w-30{
    width: 30% !important;
}
.w-35{
    width: 35% !important;
}
.w-40{
    width: 40% !important;
}
.w-45{
    width: 45% !important;
}
.w-48{
    width: 48% !important;
}
.w-60{
    width: 60% !important;
}
.w-70{
    width: 70% !important;
}
.w-80{
    width: 80% !important;
}
.w-85{
    width: 85% !important;
}
.w-90{
    width: 90% !important;
}
.w-95{
    width: 95% !important;
}
.w-200{
    width: 200% !important;
}

.w-min-25px{
    min-width: 25px !important;
}

.w-37px{
    width: 37px !important;
}
.w-40px{
    width: 40px !important;
}
.w-80px{
    width: 80px !important;
}
.w-90px{
    width: 90px !important;
}
.w-200px{
    width: 200px !important;
}
.w-115px{
    width: 115px !important;
}
.w-255px{
    width: 255px !important;
}
.w-280px{
    width: 280px !important;
}
.w-300px{
    width: 300px !important;
}
.w-330px{
    width: 330px !important;
}

.w-0-6rem{
    width: 0.6rem !important;
}
.w-1-rem{
    width: 1rem !important;
}
.w-2-rem{
    width: 2rem !important;
}
.w-3-rem{
    width: 3rem !important;
}
.w-4-rem{
    width: 4rem !important;
}
.w-5-rem{
    width: 5rem !important;
}
.w-6-25rem{
    width: 6.25rem !important;
}
.w-11-25rem{
    width: 11.25rem !important;
}
.w-16-rem{
    width: 16rem !important;
}
.w-19-rem{
    width: 19rem !important;
}

// Height
.h-8px{
    height: 8px !important;
}
.h-37px{
    height: 37px !important;
}
.h-40px{
    height: 40px !important;
}
.h-80px{
    height: 80px !important;
}
.h-100px{
    height: 100px !important;
}
.h-150px{
    height: 150px !important;
}
.h-233px{
    height: 233px !important;
}

.h-50{
    height: 50% !important;
}
.h-100{
    height: 100% !important;
}
.h-200{
    height: 200% !important;
}

.h-0-5rem{
    height: 0.5rem !important;
}
.h-0-6rem{
    height: 0.6rem !important;
}
.h-1rem{
    height: 1rem !important;
}
.h-1-25rem{
    height: 1.25rem !important;
}
.h-2-3rem{
    height: 2.3rem !important;
}
.h-2-5rem{
    height: 2.5rem !important;
}
.h-3rem{
    height: 3rem !important;
}
.h-3-25rem{
    height: 3.25rem !important;
}
.h-3-75rem{
    height: 3.75rem !important;
}
.h-6-25rem{
    height: 6.25rem !important;
}
.h-7-50rem{
    height: 7.50rem !important;
}
.h-9-25rem{
    height: 9.25rem !important;
}
.h-11rem{
    height: 11rem !important;
}
.h-12-25rem{
    height: 12.25rem !important;
}
.h-14-50rem{
    height: 14.50rem !important;
}
.h-18rem{
    height: 18rem !important;
}
.h-21-25rem{
    height: 21.25rem !important;
}

.h-40vh{
    height: 40vh !important;
}
.h-50vh{
    height: 50vh !important;
}
.h-55vh{
    height: 55vh !important;
}
.h-60vh{
    height: 60vh !important;
}
.h-70vh{
    height: 70vh !important;
}
.h-80vh{
    height: 80vh !important;
}
.h-100vh{
    height: 100vh !important;
}

.min-h-233px{
    min-height: 233px !important;
}
.min-h-287px{
    min-height: 287px !important;
}

// Overflow
.overflow-hidden{
    overflow: hidden !important;
}
.overflow-visible{
    overflow: visible !important;
}
.overflow-auto{
    overflow: auto !important;
}
.overflow-x-hidden{
	overflow-x: hidden;
}
.overflow-y-hidden{
	overflow-y: hidden;
}
.overflow-x-auto{
	overflow-x: auto;
}
.overflow-y-auto{
	overflow-y: auto;
}
// Visibility
.visibility-hidden{
    visibility: hidden !important;
}
.visibility-visible{
    visibility: visible !important;
}

.v-align-top {
  vertical-align: top !important;
}
.v-align-middle {
  vertical-align: middle !important;
}
.v-align-bottom {
  vertical-align: bottom !important;
}
.v-align-base {
  vertical-align: baseline !important;
}
// Z-Index
.z-index-1{
    z-index: 1 !important;
 }
 .z-index-2{
     z-index: 2 !important;
  }
 .z-index-4{
    z-index: 4 !important;
 }
 .z-index-5{
    z-index: 5 !important;
 }
 .z-index-10{
    z-index: 10 !important;
 }
 .z-index-1040{
     z-index: 1040 !important;
 }
 .z-index-2000{
     z-index: 2000 !important;
 }
 .z-index-9999{
     z-index: 9999 !important;
 }
 
 .z-index-neg5{
    z-index: -5 !important;
 }
 .z-index-neg10{
    z-index: -10 !important;
 }

 .cursor-default{
    cursor: default !important;
}
.cursor-pointer{
    cursor: pointer !important;
}
.cursor-not-allowed{
    cursor: not-allowed !important;
    pointer-events: auto !important;
}
.cursor-not-allowed-event-none{
    cursor: not-allowed !important;
    pointer-events: none !important;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: $family-roboto, $family-sans-serif !important;
}

body, #root{
    overflow-x: hidden;
}

// Parallax Splash
.splash-wrapper{
    .splash-content{
        min-height: 500px;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/assets/img/splash/default-banner.webm");
        &.home-splash{
            background-image: url("/assets/img/splash/home-banner.webm");
        }
        &.portfolio-splash{
            background-image: url("/assets/img/splash/portfolio-banner.webm");
        }
        &.resume-splash{
            background-image: url("/assets/img/splash/resume-banner.webm");
        }
        &.contact-splash{
            background-image: url("/assets/img/splash/contact-banner.webm");
        }
        &.notFound-404-splash{
            background-image: url("/assets/img/splash/404-banner.webm");
        }
        .slogan{
            span{
                animation: blink 1s infinite;
            }
        }
    }
}

// Parallax Content
.parallax-content{
    min-height: 200px;
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.bg-parallax-1{
        background-image: url("/assets/img/background/bg-item-1.png");
    }
    &.bg-parallax-2{
        background-image: url("/assets/img/background/bg-item-2.png");
    }
}

// Image Opacity
.img-opacity-dark{
    .view{
        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.3);
            opacity: 1;
        }
    }
}

// Timeline Content
.timeline-content-wrapper{
    .timeline-content{
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            left: 20%;
            margin-left: -5px;
            background: $default;
            z-index: 1;
        }
        .content-list{
            .content-icon{
                text-transform: none;
                -webkit-font-smoothing: antialiased;
                color: $default;
                left: 20%;
                margin: 0 0 0 -25px;
            }
        }
        .content-details{
            margin: 0 0 15px 25%;
        }
    }
}

// Loader
.loader-section {
    .loader-spin-dual-ring {
        display: inline-block;
        height: 10px;
        &:after{
            content: " ";
            display: block;
            width: 26px;
            height: 26px;
            margin-top: -9px;
            border-radius: 50%;
            border: 3px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: loader-spin-dual-ring 1.2s linear infinite;
        }
        &.loader-50{
            &:after{
                width: 50px !important;
                height: 50px !important;
            }
        }
        &.loader-41{
            &:after{
                width: 41px !important;
                height: 41px !important;
            }
        }
        &.loader-height-22px{
            height: 22px;
        }
        &.loader-height-26px{
            height: 26px;
        }
        &.loader-mt-0px{
            &:after{
                margin-top: 0px;
            }
        }
        &.loader-blue-whale{
            &:after{
                border: 3px solid $blue-whale;
                border-color: $blue-whale transparent $blue-whale transparent;
            }
        }
    }
    .loader-backdrop {
        opacity: 0.5;
        transition: opacity 0.15s linear;
    }
}

//Selectable
.unselectable, p, span, a, i, div, table, tr, td{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
    outline: none !important;
}

.selectable-text{
	-webkit-user-select: text !important;  /* Chrome all / Safari all */
	-moz-user-select: text !important;     /* Firefox all */
	-ms-user-select: text !important;      /* IE 10+ */
	user-select: text !important;
}

//Select MDBootstrap
.select-mdb-custom{
    position: relative;
    /* Use custom arrow */
    &:after {
        position: absolute;
        top: 18px;
        right: 10px;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, 0.7);
        pointer-events: none;
    }
    .select-mdb-content{
        color: $very-dark-grayish-blue;
        position: relative;
        background-color: transparent;
        width: 100%;
        padding: 10px 10px 5px 0;
        font-size: 1rem;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(0,0,0, 0.12);
        appearance: none;
        -webkit-appearance: none;

        /* Remove focus */
        &:focus {
            outline: none;
            border-bottom: 1px solid rgba(0,0,0, 0);
        }
    }

    /* BOTTOM BARS */
    .select-mdb-bar {
    	position: relative;
    	display: block;
    	width: 100%;
    	&:before, &:after{
    	    content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #2F80ED;
            transition: 0.2s ease all;
    	}

    	&:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    /* active state */
    .select-mdb-content:focus ~ .select-bar:before, .select-mdb-content:focus ~ .select-mdb-bar:after {
    	width: 100%;
    }

    /* LABEL */
    .select-mdb-label {
    	font-size: 18px;
    	font-weight: lighter;
    	position: absolute;
    	pointer-events: none;
    	left: -15px;
    	top: 10px;
    	transition: 0.2s ease all;
    }

    /* active state */
    .select-mdb-content:focus ~ .select-label, .select-mdb-content:valid ~ .select-mdb-label {
        color: #757575;
    	top: -10px;
    	transition: 0.2s ease all;
    	font-size: 0.8rem;
    }
    .select-mdb-content:focus ~ .select-label, .select-mdb-content:disabled ~ .select-mdb-label {
        color: #757575;
    	top: -10px;
    	transition: 0.2s ease all;
    	font-size: 0.8rem;
    }
}

// Select Multi-Select
.multi-select-custom {
    position: relative;
    /* Use custom arrow */
    &:after {
        position: absolute;
        top: 18px;
        right: 10px;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid $transparent;
        border-right: 6px solid $transparent;
        border-top: 6px solid rgba(0, 0, 0, 0.7);
        pointer-events: none;
    }
    .select-mdb-label{
    	font-weight: lighter;
    	position: absolute;
    	pointer-events: none;
    	left: -15px;
    	top: 10px;
        color: #757575;
    	top: -10px;
    	transition: 0.2s ease all;
    	font-size: 0.8rem;
    }
    .btn-group{
        width: 100% !important;
        border-bottom: 1px solid rgba(0,0,0, 0.12);
        .multiselect{
            background-color: $transparent !important;
            box-shadow: none !important;
            padding: 10px 10px 5px 0px !important;
            margin: 0px !important;
            text-align: left !important;
            &:after{
                display: none !important;
            }
            &:active {
                background-color: $transparent !important;
            }
            .multiselect-selected-text{
                text-transform: capitalize;
                color: $very-dark-grayish-blue;
                position: relative;
                background-color: $transparent;
                width: 100%;
                font-size: 1rem;
                border-radius: 0;
                border: none;
                appearance: none;
                -webkit-appearance: none;
        
                /* Remove focus */
                &:focus {
                    outline: none;
                    border-bottom: 1px solid rgba(0,0,0, 0);
                }
            }
        }
        .multiselect-container {
            width: 100% !important;
            max-height: 200px !important;
            overflow-y: scroll !important;
            label {
                padding-left: 10px !important;
            }
        }
    }
}

// Snackbar Notification
.snackbar-content {
    visibility: visible;
    right: 20px;
    top: 75px;
    color: $white !important;
    &.default {
        background-color: $default !important;
        &:hover {
            background-color: $default-dark !important;
        }
    }
    &.info {
        background-color: $info !important;
        &:hover {
            background-color: $info-dark !important;
        }
    }
    &.success {
        background-color: $success !important;
        &:hover {
            background-color: $success-dark !important;
        }
    }
    &.error {
        background-color: $danger !important;
        &:hover {
            background-color: $danger-dark !important;
        }
    }
    &.warning {
        background-color: $warning !important;
        &:hover {
            background-color: $warning-dark !important;
        }
    }
}

// React Date Picker
.react-datepicker-wrapper{
    width: 100% !important;
}