// Common class
// Font size
.font-size-2rem{
    font-size: $size-2rem !important;
}
.font-size-3rem{
    font-size: $size-3rem !important;
}
.font-size-6rem{
    font-size: $size-6rem !important;
}
// Font family
.font-family-fantasy{
    font-family: $family-fantasy !important;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif !important;
    background-color: #f0f0f0;
}

.banner-wrapper{
    .banner-content{
        min-height: 500px;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &.home-banner{
            background-image: url("../img/banners/home-banner.gif");
            .slogan{
                span{
                    animation: blink 1s infinite;
                }
            }
        }
        &.portfolio-banner{
            background-image: url("../img/banners/portfolio-banner.gif");
        }
        &.resume-banner{
            background-image: url("../img/banners/resume-banner.gif");
        }
        &.contact-banner{
            background-image: url("../img/banners/contact-banner.gif");
        }
        &.notFound-404-banner{
            background-image: url("../img/banners/404-banner.gif");
        }
    }
}