.contact-wrapper{
    .contact-banner{
        background-image: url("../img/home-banner.gif");
        min-height: 500px;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .contact-slogan{
            span{
                animation: blink 1s infinite;
            }
        }
    }
    .contact-form-header{
        color: #fff;
        text-align: center;
        margin-top: -50px;
        margin-bottom: 3rem;
        padding: 1rem;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
    .contact-info-btn{
        z-index: 1;
        width: 47px;
        height: 47px;
        line-height: 3.5;
        transition: .3s;
    }
}