header{
    // .top-nav-collapse {
    //     background-color: $unique-color !important;
    // }
    .navbar:not(.top-nav-collapse) {
        @include mixin-min-medium {
            background: transparent !important;
        }
    }
    .navbar-brand{
        .logo-text{
            height: 40px; 
            width: 40px; 
            line-height: 40px; 
        }
    }
}