header{
    .top-nav-collapse {
        background-color: $unique-color !important;
    }
    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
        @media (max-width: 991px) {
            background: $unique-color !important;
        }
    }
}
  