main{
    .home-banner{
        background-image: url("../img/home-banner.gif");
        min-height: 500px;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .home-slogan{
            span{
                animation: blink 1s infinite;
            }
        }
    }
}