.home-wrapper{
    .home-about-content{
        &:before, &:after{
            content: '';
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            z-index: 2;
            border-top: 7rem solid transparent;
            @include mediaQueries (mixin-max-medium) {
                border-top: 5rem solid transparent;
            }
        }
        &:before{
            left: -35%;
            border-left: 45rem solid $very-light-gray;
            @include mediaQueries (mixin-max-medium) {
                border-left: 65rem solid $very-light-gray;
            }
            @include mediaQueries (mixin-min-large) {
                border-left: 60rem solid $very-light-gray;
            }
            @include mediaQueries (mixin-xxl) {
                border-left: 90rem solid $very-light-gray;
            }
          }
          &:after{
            right: -35%;
            border-right: 80rem solid $very-light-gray;
            @include mediaQueries (mixin-max-medium) {
                border-right: 65rem solid $very-light-gray;
            }
            @include mediaQueries (mixin-min-large) {
                border-right: 100rem solid $very-light-gray;
            }
            @include mediaQueries (mixin-xxl) {
                border-right: 125rem solid $very-light-gray;
            }
        }
        .home-carousel{
            &:after{
                // content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 44px solid transparent;
                border-bottom: 44px solid transparent;
                border-right: 44px solid white;
                transform: rotate(-224deg);
                z-index: 2;
                margin-right: 7px;
                top: -30px;
                right: 0;
            }
        }
    }
}