// Fonts
$family-fantasy: fantasy;
$family-roboto: "Roboto";
$family-sans-serif: sans-serif;
// Positive
$size-1rem: 1rem;
$size-1pt5rem: 1.5rem;
$size-2rem: 2rem;
$size-3rem: 3rem;
$size-4rem: 4rem;
$size-5rem: 5rem;
$size-6rem: 6rem;
$size-7rem: 7rem;
$size-8rem: 8rem;
$size-9rem: 9rem;
$size-10rem: 10rem;
// Negative
$size-1rem-neg: -1rem;
$size-1pt5rem-neg: -1.5rem;
$size-2rem-neg: -2rem;
$size-3rem-neg: -3rem;
$size-4rem-neg: -4rem;
$size-5rem-neg: -5rem;
$size-6rem-neg: -6rem;
$size-7rem-neg: -7rem;
$size-8rem-neg: -8rem;
$size-9rem-neg: -9rem;
$size-10rem-neg: -10rem;
// Colors
$white: #FFFFFF;
$black: #000000;
$unique-color: #3F729B;
$very-light-gray: #f0f0f0;