// Fonts
$family-fantasy: fantasy;
$family-roboto: "Roboto";
$family-sans-serif: sans-serif;
$size-1rem: 1rem;
$size-1pt5rem: 1.5rem;
$size-2rem: 2rem;
$size-3rem: 3rem;
$size-4rem: 4rem;
$size-5rem: 5rem;
$size-6rem: 6rem;
$size-7rem: 7rem;
$size-8rem: 8rem;
$size-9rem: 9rem;
$size-10rem: 10rem;
// Colors
$unique-color: #3F729B;
$very-light-gray: #f0f0f0;