// Fonts
$family-fantasy: fantasy;
$family-roboto: "Roboto";
$family-sans-serif: sans-serif;
$architects-daughter: "Architects Daughter";
// Positive
$size-1rem: 1rem;
$size-1pt3rem: 1.3rem;
$size-1pt5rem: 1.5rem;
$size-2rem: 2rem;
$size-3rem: 3rem;
$size-4rem: 4rem;
$size-5rem: 5rem;
$size-6rem: 6rem;
$size-7rem: 7rem;
$size-8rem: 8rem;
$size-9rem: 9rem;
$size-10rem: 10rem;
// Negative
$size-1rem-neg: -1rem;
$size-1pt5rem-neg: -1.5rem;
$size-2rem-neg: -2rem;
$size-3rem-neg: -3rem;
$size-4rem-neg: -4rem;
$size-5rem-neg: -5rem;
$size-6rem-neg: -6rem;
$size-7rem-neg: -7rem;
$size-8rem-neg: -8rem;
$size-9rem-neg: -9rem;
$size-10rem-neg: -10rem;
// Colors
$transparent: transparent;
$info: #33b5e5;
$info-dark: #0099CC;
$primary: #4285F4;
$primary-dark: #0d47a1;
$success: #00C851;
$success-dark: #007E33;
$warning: #ffbb33;
$warning-dark: #FF8800;
$danger : #ff4444;
$danger-dark : #CC0000;
$default: #2BBBAD;
$default-dark: #00695c;
$secondary: #aa66cc;
$secondary-dark: #9933CC;
$white: #FFFFFF;
$black: #000000;
$unique-color: #3F729B;
$very-light-gray: #f0f0f0;
$blue-whale: #193441;
$pale-turquoise: #ACECE6;
$overcast: #F1F1F2;
$warm-gray: #BCBABE;
$ice: #A1D6E2;
$glacier-blue: #1995AD;
$very-dark-grayish-blue: #495057;